<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Editar Paciente</title>
    <!-- Agrega tus enlaces a CSS, Bootstrap u otros aquí si es necesario -->
</head>
<body>

    <h2>Editar Paciente</h2>

    <form th:action="@{'/api/v1/paciente/editarPaciente/' + ${paciente.id}}" method="post" th:object="${paciente}">
        <!-- Campos del formulario con datos actuales del paciente -->
        <label for="tipoDocumento">Tipo de Documento:</label>
        <input type="text" id="tipoDocumento" th:field="*{tipo_documento}" />

        <!-- Otros campos del formulario -->
        <label for="numeroDocumento">Número de Documento:</label>
        <input type="text" id="numeroDocumento" th:field="*{numero_documento}" />

        <!-- ... Agrega el resto de los campos de acuerdo a tu entidad -->

        <button type="submit">Guardar cambios</button>
    </form>

    <!-- Agrega tus scripts o enlaces a JavaScript si es necesario -->

</body>
</html>