<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pag_principal.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="container-menu">
             <a href="../view/pag_Medicos.html">Medicos</a>
            <a href="../view/pag_Pacientes.html">Pacientes</a>
            <a href="../view/pag_Ingreso.html">Ingreso</a>
        </div>
    </div>
    <div class="logo">
        <img src="../img/logo.png" alt="logo">
        <p>SENA HOSPITAL</p>
    </div>
    <div class="burbuja">
        <img src="../img/objeto.png" alt="">     
    </div>
    <div class="text">
        <p>Bienvenidos</p>
    </div>
      
    
    
</body>
</html>